.property-valuation {
    .property-valuation-box {
        height: auto !important;

        .contact-icon {
            font-size: 40px;
        }
    }

    .property-valuation-form {
        height: auto !important;
    }
}