.dashboard-side-bar {
  width: 50px;
  height: 100vh;
  background-color: var(--main-color-one);
  position: fixed;
  top: 90px;
  left: 0;
  z-index: 3;
  border-right: 3px solid var(--main-color-two);
  border-radius: 5px;
}

.dashboard-side-bar .managment-link-list .managment-link-item {
  position: relative;
}

.dashboard-side-bar .managment-link-list .managment-link-item:hover, .dashboard-side-bar .managment-link-list .managment-link-item .active {
  background-color: var(--main-color-two);
  border-radius: 5px;
}

.dashboard-side-bar .managment-link-list .managment-link-item:hover .link-name-box, .dashboard-side-bar .managment-link-list .managment-link-item .active .link-name-box {
  display: block;
}

.dashboard-side-bar .managment-link-list .managment-link-item .link-name-box {
  display: none;
  position: absolute;
  top: 50%;
  left: 150%;
  transform: translateY(-50%);
  background-color: var(--main-color-two);
  border-radius: 5px;
  color: var(--main-text-color);
  cursor: pointer;
}

.dashboard-side-bar .managment-link-list .managment-link-item .link-name-box::before {
  content: "";
  height: 7px;
  left: -26px;
  position: absolute;
  top: calc(50% - 2px);
  width: 25px;
  background-color: var(--main-color-two);
}

.dashboard-side-bar .managment-link-list .managment-link-item .managment-link {
  color: var(--main-text-color) !important;
  padding: 14px;
}

.dashboard-side-bar .managment-link-list .managment-link-item .managment-link .managment-link-icon {
  font-size: 22px;
}
