.profile .image-field-box {
  width: 225px;
  height: 225px;
  margin: auto;
  cursor: pointer;
}

.profile .image-field-box .edit-profile-image-icon-box {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 2;
}

.profile .image-field-box .edit-profile-image-icon-box .edit-profile-image-icon {
  font-size: 27px;
}
