.pagination-bar .current-page-number-and-count-of-pages {
  font-size: 14px;
}

.pagination-bar .pagination-icon {
  font-size: 22px;
  cursor: pointer;
}

.pagination-bar .pagination-icon:hover {
  background-color: var(--main-color-two);
  color: #FFF;
  font-size: 25px;
}

.pagination-bar .pagination-button {
  font-size: 12px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

.pagination-bar .pagination-button.selection {
  background-color: var(--main-color-one);
  color: #FFF;
}

.pagination-bar .navigate-to-specific-page-form .page-number-input {
  font-size: 12px;
}
