.pagination-bar{
    .current-page-number-and-count-of-pages{
        font-size: 14px;
    }
    .pagination-icon{
        font-size: 22px;
        cursor: pointer;
        &:hover{
            background-color: var(--main-color-two);
            color: #FFF;
            font-size: 25px;
        }
    }
    .pagination-button{
        font-size: 12px;
        border-radius: 5px;
        border: none;
        font-weight: bold;
        &.selection{
            background-color: var(--main-color-one);
            color: #FFF;
        }
    }
    .navigate-to-specific-page-form{
        .page-number-input{
            font-size: 12px;
        }
    }
}