.global-header{
    min-height: 90px;
    .navbar{
        border-bottom: 2px solid var(--main-text-color);
        background-color: var(--main-color-one);
        .navbar-nav{
            align-items: center;
            gap: 10px;
            .nav-link{
                color: var(--main-text-color);
                font-size: 15px;
                transition: 0.5s;
                border-radius: 10px;
                font-weight: bold;
                &:hover{
                    background-color: #CCC;
                    color: var(--main-color-two);
                }
                .icon-box{
                    position: relative;
                    .products-count-box{
                        position: absolute;
                        background-color: #000;
                        width: 25px;
                        height: 25px;
                        line-height: 25px;
                        color: #FFF;
                        border-radius: 50%;
                        text-align: center;
                    }
                }
            }
            .dropdown{
                .dropdown-item{
                    font-size: 13px;
                }
            }
            .global-header-icon{
                font-size: 16px;
                cursor: pointer;
                background-color: var(--main-color-two);
                width: 30px;
                height: 30px;
                border-radius: 10px;
            }
            .logout-btn{
                font-size: 13px;
            }
        }
    }
}