.global-header {
  min-height: 90px;
}

.global-header .navbar {
  border-bottom: 2px solid var(--main-text-color);
  background-color: var(--main-color-one);
}

.global-header .navbar .navbar-toggler {
  border: 2px solid var(--main-color-two) !important;
}

.global-header .navbar .navbar-nav {
  align-items: center;
  gap: 10px;
}

.global-header .navbar .navbar-nav .nav-link {
  color: var(--main-text-color);
  font-size: 15px;
  transition: 0.5s;
  border-radius: 10px;
  font-weight: bold;
}

.global-header .navbar .navbar-nav .nav-link:hover {
  background-color: #CCC;
  color: var(--main-color-two);
}

.global-header .navbar .navbar-nav .nav-link .icon-box {
  position: relative;
}

.global-header .navbar .navbar-nav .nav-link .icon-box .products-count-box {
  position: absolute;
  background-color: #000;
  width: 25px;
  height: 25px;
  line-height: 25px;
  color: #FFF;
  border-radius: 50%;
  text-align: center;
}

.global-header .navbar .navbar-nav .dropdown .dropdown-item {
  font-size: 13px;
}

.global-header .navbar .navbar-nav .global-header-icon {
  font-size: 16px;
  cursor: pointer;
  background-color: var(--main-color-two);
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

.global-header .navbar .navbar-nav .logout-btn {
  font-size: 13px;
}
