.contact-us {
    .contact-box {
        height: auto !important;

        .contact-icon {
            font-size: 40px;
        }

        h4 {
            color: #000;
        }
    }

    .contact-us-form {
        height: auto !important;
    }
}