footer{
    border-top: 2px solid var(--main-text-color);
    background-color: var(--main-color-one);
    .link-btn{
        font-size: 11px;
    }
    .title{
        width: fit-content;
        font-size: 14px;
        border-bottom: 2px solid var(--main-text-color);
        color: var(--main-text-color);
    }
    .row{
        @media (max-width: 1199px) {
            gap: 30px;
        }
    }
    .icon{
        color: var(--main-text-color);
    }
    p{
        font-size: 14px;
        color: var(--main-text-color);
    }
    .website-link{
        color: var(--main-text-color);
    }
}