:root {
    --main-color-one: #f0fdf4;
    --main-color-two: #ed7200;
    --main-color-three: #084b22;
    --main-text-color: #000;
}

body {
    background-color: var(--main-color-one);

    &[lang="en"],
    &[lang="tr"],
    &[lang="de"] {
        font-family: 'Montserrat', sans-serif;
        direction: ltr;
    }

    &[lang="ar"] {
        font-family: 'Cairo', sans-serif;
        direction: rtl;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul,
ol {
    li {
        color: var(--main-text-color);
    }
}

h2,
h3,
h4 {
    color: var(--main-text-color);
}

a {
    color: var(--main-text-color);
    text-decoration: none;
}

input,
textarea,
select {
    background: transparent;
    border: 1px solid #FFF;
    border-radius: 3px;
    color: #FFF;
    padding: 13px !important;
    width: 100%;
    font-size: 11px !important;

    &::placeholder {
        color: #FFF;
    }

    &:focus {
        outline: none;
        border-color: #00F;
    }
}

h6 {
    font-size: 13px;
}

p {
    color: var(--main-text-color);
}

select.ar {
    text-indent: 20px;
}

textarea {
    height: 120px;
    resize: none;
}

.border,
.border-bottom {
    border-color: var(--main-text-color) !important;
}

.page {
    min-height: 100vh;
}

.w-fit {
    width: fit-content;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
    z-index: 1000;
}

.page-content {
    min-height: calc(100vh - 80px);
}

.section-name {
    background-color: var(--main-color-two);
    padding: 20px;
}

.page {
    min-height: 100vh;
}

.orange-btn {
    background-color: var(--main-color-two);
    border-radius: 10px;
    padding: 8px !important;
    color: #FFF;
    font-weight: bold;

    &:hover {
        background-color: var(--main-color-three) !important;
        color: #FFF !important;
    }
}

.info-box {
    background-color: #f0fdf4;
    border: 2px solid var(--main-color-two);
    border-radius: 5px;

    @media (min-width: 991px) {
        height: 170px;
    }

    h6 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }
}

.navigate-to-up-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    background-color: var(--main-color-two);
    cursor: pointer;
    border-radius: 50%;
    text-align: center;

    &:hover {
        background-color: #000;
        color: #FFF;
    }
}

.loading-box {
    height: 100vh;
    background-color: var(--main-color-one);
}

.contact-icons-box {
    position: fixed;
    left: 30px;
    bottom: 30px;
    cursor: pointer;

    .contact-icons-list {
        .contact-icon-item {
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            border-radius: 50%;
            background-color: var(--main-color-two);
        }
    }

    .contact-icon,
    .close-icon,
    .whatsapp-icon,
    .mail-icon {
        font-size: 30px;
        color: #000;
    }
}

.row {
    @media (max-width: 767px) {
        gap: 30px;
    }
}

.form-field-error-box {
    border-radius: 3px;
}

.image-box {
    img {
        width: 75%;

        @media (min-width: 1199px) {
            max-width: 100%;
        }
    }
}

.auth-page {
    .info-box {
        width: 50%;
        height: auto;
        margin: 0 auto;

        @media (max-width: 767px) {
            width: 100%;
        }

        @media (min-width: 768px) and (max-width: 1199px) {
            width: 75%;
        }
    }

    .external-auth-sites-list {
        width: fit-content;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        gap: 20px;

        li {
            border: 1px solid #000;
            padding: 8px 10px;
            cursor: pointer;

            &:hover {
                color: var(--main-color-two);
            }

            .external-auth-site-icon {
                font-size: 20px;
            }
        }
    }
}

.field-box {
    position: relative;

    .icon-box {
        position: absolute;

        &.ar-language-mode {
            left: 15px;
        }

        &.other-languages-mode {
            right: 15px;
        }

        top: 50%;
        transform: translateY(-50%);

        .icon {
            font-size: 22px;
            color: #000;
            cursor: pointer;
        }
    }

    &.error-in-field {
        .icon-box {
            transform: translateY(-80%);
        }
    }
}

.dashboard {
    .page-content {
        padding: 20px 20px 0 70px;
    }
}

.managment-table {
    background-color: #FFF;

    td,
    th {
        border: 1px solid;
        padding: 15px;
        text-align: center;
        font-size: 11px;
    }

    textarea {
        height: 150px;
    }

    h6 {
        font-size: 13px;
    }
}

.admin-dashbboard-data-box {
    overflow: auto;

    .admin-dashbboard-data-table {
        width: 100%;

        &.products-table {
            width: 150%;
        }

        @media (max-width: 991px) {
            width: 300%;
        }
    }
}

.popup-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000, $alpha: 0.5);
    z-index: 10000;

    &.add-geometry {

        .content-box {
            overflow: auto;
            height: 70%;
        }
    }

    .content-box {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--main-color-one);
        box-shadow: 1px 1px 10px #000;
        width: 90%;
        height: 60%;

        h2,
        h4 {
            color: var(--main-text-color);
        }
    }

    .close-popup-box-icon {
        position: absolute;
        right: -20px;
        top: -20px;
        font-size: 40px;
        background-color: red;
        cursor: pointer;
        border-radius: 50%;
        padding: 5px;
    }
}

.plus-icon,
.minus-icon {
    font-size: 25px;
    cursor: pointer;
}