:root{
    --main-color-one: #6A017A;
    --main-color-two: #00ffe1;
    --main-color-three: #dfb762;
}

body{
    // background-color: var(--main-color-one);
    &[lang="en"], &[lang="tr"], &[lang="de"] {
        font-family: 'Montserrat', sans-serif;
        direction: ltr;
    }
    &[lang="ar"] {
        font-family: 'Cairo', sans-serif;
        direction: rtl;
    }
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    color: #FFF;
    text-decoration: none;
}

input, textarea, select{
    background: transparent;
    border: 1px solid #FFF;
    border-radius: 3px;
    color: #FFF;
    padding: 13px !important;
    width: 100%;
    font-size: 11px !important;
    &::placeholder{
        color: #FFF;
    }
    &:focus{
        outline: none;
        border-color: #00F;
    }
}

h6{
    font-size: 13px;
}

select.ar{
    text-indent: 20px;
}

textarea{
    height: 120px;
    resize: none;
}

.page{
    min-height: 100vh;
}

.w-fit{
    width: fit-content;
}