:root{
    --main-color-one: #f0fdf4;
    --main-color-two: #ed7200;
    --main-color-three: #084b22;
    --main-text-color: #000;
}

body{
    background-color: var(--main-color-one);
    &[lang="en"], &[lang="tr"], &[lang="de"] {
        font-family: 'Montserrat', sans-serif;
        direction: ltr;
    }
    &[lang="ar"] {
        font-family: 'Cairo', sans-serif;
        direction: rtl;
    }
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    color: var(--main-text-color);
    text-decoration: none;
}

input, textarea, select{
    background: transparent;
    border: 1px solid #FFF;
    border-radius: 3px;
    color: #FFF;
    padding: 13px !important;
    width: 100%;
    font-size: 11px !important;
    &::placeholder{
        color: #FFF;
    }
    &:focus{
        outline: none;
        border-color: #00F;
    }
}

h6{
    font-size: 13px;
}

select.ar{
    text-indent: 20px;
}

textarea{
    height: 120px;
    resize: none;
}

.page{
    min-height: 100vh;
}

.w-fit{
    width: fit-content;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
    z-index: 1000;
}

.page-content{
    min-height: calc(100vh - 80px);
}

.section-name{
    background-color: var(--main-color-two);
    padding: 20px;
}

.page{
    min-height: 100vh;
}

.orange-btn{
    background-color: var(--main-color-two);
    border-radius: 10px;
    padding: 8px !important;
    &:hover{
        background-color: var(--main-color-three) !important;
        color: #FFF !important;
    }
}

.info-box{
    background-color: #f0fdf4;
    border: 2px solid var(--main-color-two);
    border-radius: 5px;
    @media (min-width: 991px) {
        height: 170px;
    }
    h6{
        font-size: 16px;
    }
    p{
        font-size: 14px;
    }
}